/* tablet screen  */
@media(max-width: 1000px) {
    .container {
      display: block;
      /* height: 100vh; */
      /* flex-direction: column; */
      width: 400px;
      margin: auto;
      /* gap: 0; */
      
    }
  
    .logo {
      width: 45px;
      margin: 0;
      padding-top: 25px;
    }

    .menu {
        margin-top: 20px;
    }

    footer {
        margin-top: 50px;
    }
  }
  
  